* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(images/hemanta.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li:hover {
    transform: scale(1.2);
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.btn {
    background-color: #f9004d;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 25px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    font-size: 75px;
    color: white;
    margin: 20px 0px 20px;
}

h3 {
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    position: relative;
    width: 380px;
    max-width: 100%;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
}

.newslatter form input:last-child {
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 50px 0px;
    background-color: black;
}

.about img {
    height: 450px;
    padding: 0px 25px 0px 0px;
    width: 600px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.button {
    background-color: #f9004d;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 13px 30px;
    transition: .4s;
    letter-spacing: 1px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.education {
    width: 100%;
    padding: 50px 0px;
    background-color: black;
}

#plus-two {
    height: auto;
    width: 600px;
    padding: 0px 25px 0px 0px;
    margin-bottom: 25px;
}

#bachelor {
    height: 350px;
    width: 600px;
    padding: 0px 25px 0px 0px;
    margin-top: 25px;
}

.study {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.education-text {
    width: 550px;
}

.education-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.education-text h5 {
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.education-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.contact {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
}

.contact p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    font-size: 22px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
}

.social a:nth-child(1) {
    background-color: blue;
}

.social a:nth-child(2) {
    font-size: 30px;
    border-radius: 15px;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.social a:nth-child(3) {
    font-size: 50px;
    border-radius: 100%;
    background: green;
}

.social a:hover {
    transition: .4s;
    transform: scale(1.3);
}

.end{
    color: #f9004d;
    font-size: 12px;
    bottom: 35px;
    position: absolute;
    font-weight: bold;
}